mongo_data/*
pg_data/*
shared_data/userdata/*
shared_data/public/*
shared_data/sampledata/*
vault/logs/*
vault/file/*
openVRE/tools/*
openVRE/config/*
openVRE/visualizers/*
openVRE/config/globals.inc.php
openVRE/config/*
#openVRE/tools/*
#openVRE/visualizers/*
