# PHP libraries
vendor/*
composer.lock
composer.phar

# Configurartion files
config/*conf
config/globals.inc.php

#Tools and Visualizers
public/tools/*
!public/tools/tool_skeleton/

# Others
logs/
*BK
public/files
public/refGenomes
public/visualizers/jbrowse/
public/callSystem.php

