services:
  my-mongodb:
    hostname: my-mongodb
    image: mongo:8.0
    container_name: my-mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_USERNAME: ${MONGO_INITDB_USERNAME}
      MONGO_INITDB_PASSWORD: ${MONGO_INITDB_PASSWORD}
      MONGO_MAIN_DB: ${MONGO_MAIN_DB}
    ports:
      - "${MONGO_PORT}:27017"
    command: mongod
    volumes:
      - mongo_data:/data/db:rw
      - ./mongodb/mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh:ro
      - ./mongodb/init_documents:/init_documents:ro
    networks:
      net_vre:
        ipv4_address: 172.21.0.10
    restart: on-failure:2

  vault-server:
    container_name: vault-server
    hostname: vault-server
    image: hashicorp/vault:1.20
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: myroot
      VAULT_DEV_LISTEN_ADDRESS: ${VAULT_DEV_LISTEN_ADDRESS}
      VAULT_ADDR: ${VAULT_ADDR}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      KEYCLOAK_SERVER: ${KEYCLOAK_SERVER}
    ports:
      - "${VAULT_PORT}:8200"
    volumes:
      - ./vault/config:/vault/config
      - ./vault/vault-init.sh:/vault-init.sh
    cap_add:
      - IPC_LOCK
    command: /bin/sh -c "vault server -dev & sleep 5 && /vault-init.sh && wait"
    networks:
      net_vre:
        ipv4_address: 172.21.0.18
    restart: on-failure:2

  keycloak:
    container_name: keycloak
    hostname: keycloak
    image: keycloak/keycloak:26.4
    profiles: ["local_auth"]
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USER}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HOSTNAME: ${KEYCLOAK_SERVER}
    command:
      - start-dev
    ports:
      - ${KEYCLOAK_PORT}:8080
    networks:
      net_vre:
        ipv4_address: 172.21.0.12
    restart: on-failure:2

  front_end:
    pull_policy: never
    container_name: front_end
    hostname: ${FRONTEND_HOSTNAME}
    build:
      context: ./front_end/
    image: front_end
    environment:
      KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      KEYCLOAK_CLIENT: ${KEYCLOAK_CLIENT}
      KEYCLOAK_SECRET: ${KEYCLOAK_SECRET}
      KEYCLOAK_SERVER: ${KEYCLOAK_SERVER}
      MAIL_HOST: ${MAIL_HOST}
      MAIL_USER: ${MAIL_USER}
      MAIL_PASS: ${MAIL_PASS}
      MONGO_CREDENTIALS: ${MONGO_INITDB_USERNAME}:${MONGO_INITDB_PASSWORD}
      MONGO_SERVER: ${MONGO_SERVER}
      MONGO_MAIN_DB: ${MONGO_MAIN_DB}
      SERVER_NAME: ${FQDN_HOST}:${FRONTEND_PORT}
      VAULT_ADDR: ${VAULT_ADDR}
      VAULT_API_VERSION: ${VAULT_API_VERSION}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./front_end/openVRE/public/:/var/www/html/openVRE/public
      - ./front_end/openVRE/config:/var/www/html/openVRE/config
      - ./front_end/openVRE/data:/var/www/html/openVRE/data
      - ./front_end/openVRE/apache/server.conf:/opt/docker/etc/httpd/conf.d/10-server.conf
      - ./tools/front:/var/www/html/openVRE/public/tools
      - ./shared_data:/shared_data
    depends_on:
      - sgecore
    ports:
      - "${FRONTEND_PORT}:80"
    networks:
      net_vre:
        ipv4_address: 172.21.0.14
    restart: on-failure:2

  sgecore:
    pull_policy: never
    image: sgecore
    build:
      context: ./sge
      args:
        SUBMITTER_HOSTNAME: "${FRONTEND_HOSTNAME}"
        DOCKER_GROUP: "${DOCKER_GROUP}"
    container_name: sgecore
    hostname: sgecore
    environment:
      SHARED_DATA_UID: ${UID}
      SHARED_DATA_GID: ${GID}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rprivate
      - ./sge/configuration:/tmp/configuration:rprivate
      - ./sge/configuration:/etc/gridengine/configuration:rprivate
      - ./sge/shared_scripts:/shared_scripts:rshared
      - ./shared_data:/shared_data:rshared
      - ./tools/docker:/tools:rshared
    devices:
      - '/dev/fuse:/dev/fuse'
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    stdin_open: true
    networks:
      - net_vre
    ports:
      - "6444:6444"
    restart: on-failure:2

volumes:
  mongo_data:
    name: ${MONGO_VOLUME}

networks:
  net_vre:
    name: ${NETWORK_NAME}
    # Use this driver_opts on openStack cloud
    #driver_opts:
    #com.docker.network.driver.mtu: 1442
    ipam:
      config:
        - subnet: 172.21.0.0/24
