services:
  my-mongodb:
    hostname: my-mongodb
    image: mongo:8.0
    container_name: my-mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_USERNAME: ${MONGO_INITDB_USERNAME}
      MONGO_INITDB_PASSWORD: ${MONGO_INITDB_PASSWORD}
      MONGO_MAIN_DB: ${MONGO_MAIN_DB}
    ports:
      - "${MONGO_PORT}:27017"
    command: mongod --config /etc/mongo/mongod.conf
    volumes:
      - mongo_data:/data/db:rw
      - ./mongodb/mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh:ro
      - ./mongodb/init_documents:/init_documents:ro
      - ./mongodb/mongod.conf:/etc/mongo/mongod.conf:ro
      - ${MONGO_SSL_COMBINED_CAFILE}:${MONGO_CA_COMBINED_FILE}:ro
      - ${MONGO_SSL_KEYFILE}:${MONGO_CERT_KEYFILE}:ro
    networks:
      net_vre:
        ipv4_address: 172.21.0.10
    restart: on-failure:2

  vault-server:
    container_name: vault-server
    hostname: vault-server
    image: hashicorp/vault:1.20
    environment:
      VAULT_ADDR: ${VAULT_ADDR}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      KEYCLOAK_SERVER: ${KEYCLOAK_SERVER}
    ports:
      - "${VAULT_PORT}:8200"
    volumes:
      - vault_data:/vault/data
      - ./vault/config:/vault/config
      - "${VAULT_SSL_PEM}:${VAULT_CERT_PEM}:ro"
      - "${VAULT_SSL_KEY}:${VAULT_CERT_KEY}:ro"
    cap_add:
      - IPC_LOCK
    command: server
    networks:
      net_vre:
        ipv4_address: 172.21.0.18
    restart: on-failure:2

  postgres:
    container_name: postgres
    image: postgres:17.3
    profiles: ["local_auth"]
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - keycloak_data:/var/lib/postgresql/data
    networks:
      net_vre:
        ipv4_address: 172.21.0.13
    restart: on-failure:2

  keycloak:
    container_name: keycloak
    hostname: keycloak
    image: keycloak/keycloak:26.4
    profiles: ["local_auth"]
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USER}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HOSTNAME: ${KEYCLOAK_SERVER}
      KEYCLOAK_SECRET: ${KEYCLOAK_SECRET}
    volumes:
      - ${KEYCLOAK_REALMS_DIR}:${KEYCLOAK_IMPORT_DIR}:ro
    command: ["start-dev", "--import-realm"]
    ports:
      - ${KEYCLOAK_PORT}:8080
    networks:
      net_vre:
        ipv4_address: 172.21.0.12
    depends_on:
      - postgres
    restart: on-failure:2

  front_end:
    pull_policy: never
    container_name: front_end
    hostname: ${FRONTEND_HOSTNAME}
    build:
      context: ./front_end/
    image: front_end
    environment:
      FRONTEND_CERT_PEM: ${FRONTEND_CERT_PEM}
      FRONTEND_CERT_KEY: ${FRONTEND_CERT_KEY}
      KEYCLOAK_CLIENT: ${KEYCLOAK_CLIENT}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      KEYCLOAK_SECRET: ${KEYCLOAK_SECRET}
      KEYCLOAK_SERVER: ${KEYCLOAK_SERVER}
      MAIL_HOST: ${MAIL_HOST}
      MAIL_USER: ${MAIL_USER}
      MAIL_PASS: ${MAIL_PASS}
      MONGO_CA_FILE: ${MONGO_CA_FILE}
      MONGO_CERT_KEYFILE: ${MONGO_CERT_KEYFILE}
      MONGO_CREDENTIALS: ${MONGO_INITDB_USERNAME}:${MONGO_INITDB_PASSWORD}
      MONGO_MAIN_DB: ${MONGO_MAIN_DB}
      MONGO_SERVER: ${MONGO_SERVER}
      SERVER_DOMAIN: ${FQDN_HOST}
      VAULT_ADDR: ${VAULT_ADDR}
      VAULT_API_VERSION: ${VAULT_API_VERSION}
      VAULT_CERT_CAFILE: ${VAULT_CERT_CAFILE}
      VAULT_ROLENAME: ${VAULT_ROLENAME}
      VAULT_SECRET_PATH: ${VAULT_SECRET_PATH}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./front_end/openVRE/public/:/var/www/html/openVRE/public
      - ./front_end/openVRE/config:/var/www/html/openVRE/config
      - ./front_end/openVRE/data:/var/www/html/openVRE/data
      - ./front_end/openVRE/apache/server.conf:/opt/docker/etc/httpd/conf.d/10-server.conf
      - ./tools/front:/var/www/html/openVRE/public/tools
      - ./shared_data:/shared_data
      - ${FRONTEND_SSL_PEM}:${FRONTEND_CERT_PEM}:ro
      - ${FRONTEND_SSL_KEY}:${FRONTEND_CERT_KEY}:ro
      - ${MONGO_SSL_CAFILE}:${MONGO_CA_FILE}:ro
      - ${MONGO_SSL_KEYFILE}:${MONGO_CERT_KEYFILE}:ro
      - ${VAULT_SSL_CAFILE}:${VAULT_CERT_CAFILE}:ro
    depends_on:
      - sgecore
    ports:
      - "${FRONTEND_PORT}:443"
    networks:
      net_vre:
        ipv4_address: 172.21.0.14
    restart: on-failure:2

  sgecore:
    pull_policy: never
    image: sgecore
    build:
      context: ./sge
      args:
        SUBMITTER_HOSTNAME: "${FRONTEND_HOSTNAME}"
        DOCKER_GROUP: "${DOCKER_GROUP}"
    container_name: sgecore
    hostname: sgecore
    environment:
      SHARED_DATA_UID: ${UID}
      SHARED_DATA_GID: ${GID}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rprivate
      - ./sge/configuration:/tmp/configuration:rprivate
      - ./sge/configuration:/etc/gridengine/configuration:rprivate
      - ./sge/shared_scripts:/shared_scripts:rshared
      - ./shared_data:/shared_data:rshared
      - ./tools/docker:/tools:rshared
    devices:
      - '/dev/fuse:/dev/fuse'
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    stdin_open: true
    networks:
      - net_vre
    ports:
      - "6444:6444"
    restart: on-failure:2

volumes:
  mongo_data:
    name: ${MONGO_VOLUME}
  keycloak_data:
    name: ${KEYCLOAK_DB_VOLUME}
  vault_data:
    name: ${VAULT_DATA_VOLUME}

networks:
  net_vre:
    name: ${NETWORK_NAME}
    # Use this driver_opts on openStack cloud
    #driver_opts:
    #com.docker.network.driver.mtu: 1442
    ipam:
      config:
        - subnet: 172.21.0.0/24
